<div class="star5Ext" id='ui2' data-name='overview' data-rating='5'>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>信息准确</th>
            <td>
                <div class="star5Ext stars-small" data-name='infomatch' data-rating='5'></div>
            </td>
            <th>交通便利</th>
            <td>
                <div class="star5Ext stars-small" data-name='goodlocation' data-rating='5'></div>
            </td>
        </tr>
        <tr>
            <th>沟通愉快</th>
            <td>
                <div class="star5Ext stars-small" data-name='communication' data-rating='5'></div>
            </td>
            <th>便利设施</th>
            <td>
                <div class="star5Ext stars-small" data-name='goodfacility' data-rating='5'></div>
            </td>
        </tr>
        <tr>
            <th>干净整洁</th>
            <td>
                <div class="star5Ext stars-small" data-name='clean' data-rating='5'></div>
            </td>
            <th>价格合理</th>
            <td>
                <div class="star5Ext stars-small" data-name='goodprice' data-rating='5'></div>
            </td>
        </tr>
    </tbody>
</table>

</br>
<b>共100条评论，平均4.5分。</b>
</br>
</br>

from 1 to end
<table class="table table-bordered">
          <tbody>
            <tr class="info">
                <th>张三&nbsp 2017-7-13</th>
                <td>good</td>
              </tr>
          </tbody>
</table>