<div class="list-group">
    <a id="overview" href="/dashboard" class="list-group-item">Overview</a>
    <a id="user_join" href="/HostManager/becomeHost" class="list-group-item">jia meng</a>
    <a id="user_signup" href="/HostManager/signUp" class="list-group-item">zhu ce</a>
    <a id="user_signin" href="/HostManager/signIn" class="list-group-item">deng lu</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item ">House Mgr</a>
    <a id="edit_house" href="/HostManager/editHouse" class="list-group-item">Edit House</a>
    <a href="#" class="list-group-item">Link</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item ">Car Mgr</a>
    <a id="edit_car" href="/HostManager/editCar" class="list-group-item">Edit Car</a>
    <a href="#" class="list-group-item">Link</a>
</div>
</div>