<ul class="nav nav-sidebar">
    <li><a href="#">Overview</a></li>
</ul>
    
<hr />

<ul class="nav nav-sidebar">
    <li><a href="#">House Info</a></li>
    <li><a href="/HostManager/editHouse">Edit House</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>
    
<hr />

<ul class="nav nav-sidebar">
    <li><a href="">Car Info</a></li>
    <li><a href="/HostManager/editCar">Edit Car</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="">More navigation</a></li>
</ul>

<hr />

<ul class="nav nav-sidebar">
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
</ul>