<div class="list-group">
    <a id="overview" href="/dashboard" class="list-group-item">我的档案</a>
    <a id="user_join" href="/HostManager/becomeHost" class="list-group-item">加盟</a>
    <a id="user_signup" href="/HostManager/signUp" class="list-group-item"> 注册</a>
    <a id="user_signin" href="/HostManager/signIn" class="list-group-item">登录</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item ">租房服务</a>
    <a id="edit_house" href="/HostManager/editHouse" class="list-group-item">修改房源信息</a>
    <a href="#" class="list-group-item">这个是什么</a>
</div>

<div class="list-group">
    <a href="#" class="list-group-item ">私家车服务</a>
    <a id="edit_car" href="/HostManager/editCar" class="list-group-item">修改车辆信息</a>
    <a href="#" class="list-group-item">链接</a>
</div>
</div>