<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="/" style="padding:0px;"> 
          <img src="/images/logo.png" alt="ALLKO" style="width:112px;height:45px; margin:3px;"  class=""> 
      </a>
    </div>
    <!-- nave bar -->
    <div id="navbar" class="navbar-collapse collapse">
      <div id='nav-left'>
      </div>

      <div id='nav-right'>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><b>注册</b></a></li>
          <li><a href="/signin"><b>登录</b></a></li>
          <li><a href="/dashboard"><b>工作台</b></a></li>
          <li><a href="/gallery/house"><b>房屋相册</b></a></li>
          <li><a href="/gallery/car"><b>车辆相册</b></a></li>
        </ul>
      </div>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>