<div class="list-group">
    <li class="list-group-item list-group-item-info ">基本信息</li>
    <a id="overview" href="/HostManager/main" class="list-group-item">我的档案</a>
    <a id="user_profile" href="/HostManager/userProfile" class="list-group-item">个人信息</a>
    <a id="user_join" href="/HostManager/becomeHost" class="list-group-item">加盟</a>
</div>

<div class="list-group">
    <a id="user_order" href="/HostManager/userOrder" class="list-group-item">查看订单</a>
</div>

<div class="list-group">
    <a id="trip_log" href="/HostManager/tripLog" class="list-group-item">Fa biao you ji</a>
</div>