
<h3 style="color:green;"> 
    <b>个人资料&nbsp&nbsp&nbsp</b> 
    <a href="/HostManager/userProfile" class="btn btn-warning " align="right">修改个人资料</a> 
    &nbsp&nbsp&nbsp
    <button type="Primary" class="btn btn-info " align="right">重置密码</button>
</h3>

<table class="table table-bordered">
  <tbody>
    <tr class="info" >
      <td>用户名</td>
      <td><%= cUser.nick %></td>
      <td>Email</td>
      <td><%= cUser.email %></td>
    </tr>
    <tr>
      <td>服务类型</td>
      <td>
          尚未开通 &nbsp; &nbsp; <a href="/HostManager/becomeHost" type="Primary" class="btn btn-xs btn-success ">我要加盟</a>
      </td>
      <td>手机号码</td>
      <td><%= cUser.cell %></td>
    </tr>
  </tbody>
</table>

<img src="/images/3.png" alt="头像" style="width:600px;height:400px;" class="img-thumbnail"> 