<body>
  <!-- nav bar -->
  <% include partials/host.navbar.ejs %>

  <div class="container-fluid">
    <div class="row">
      <!-- left panel -->
      <div class="col-sm-3 col-md-2 sidebar">
        <% include partials/host.sidebar.ejs %>
      </div>

      <!-- right panel -->
      <div id="root" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <% include forms/new.car.ejs %>
      </div>

    </div>
  </div>

<script >

  $("#carpic").fileinput({
    showPreview: true,
    uploadAsync: false,
    uploadUrl:"/message/image/carpic",
  });

  $("#insurancepic").fileinput({
    showPreview: true,
    uploadAsync: false,
    uploadUrl:"/message/image/insurancepic",
  });

  $("#dlpic").fileinput({
    showPreview: true,
    uploadAsync: false,
    uploadUrl:"/message/image/dlpic",
  });


  $(document).on('submit', 'form', (evt) => {
    evt.preventDefault();
    $.post($('form').attr('action'), $('form').serialize(), (data) => {
      var jst_tmpl = this['JST'][`assets/templates/alert-dismissible.html`]({
        type: 'alert-success', title: 'Good job!', info: 'New record success'
      });

      $('#root').append(jst_tmpl);
    });
  });

  $(document).on('click', 'form .btn-submit', (evt) => {
    evt.preventDefault();
    $('form').submit();
  });

</script>

</body>

