<% include partials/navbar.ejs %>

  <div class="container">

    <% include forms/search.ejs %>

      <hr />

      <ol class="breadcrumb">
        <li class="active">房源</li>
        <li><a href="/gallery/car">带车向导</a></li>
        <li><a href="/gallery/guide">无车向导</a></li>
      </ol>

      <!-- gallery -->
      <div id='root'>
      </div>

      <div class="progress" style="display: none">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
          style="width: 75%">
          <span class="sr-only">75% Complete</span>
        </div>
      </div>

  </div>

  <script type="text/javascript">
    var isLoading = false;
    var loadedCount = 0;

    $('input[name="daterange"]').daterangepicker();

    var loadMore = function () {
      if (isLoading)
        return false;
      else {
        $('.progress').show(); isLoading = true;
      }
      doLoad();
    }

    var doLoad = function () {
      $.post("/house/recent", { skipCount: loadedCount }, (data) => {
        loadedCount += data.length;

        setTimeout(function () {
          var model = data.map(function (e) {
            var rr = parseInt(1 + Math.random() * 5);
            return {
              title: `$${e.price} ${e.city} ${e.housename}`,
              imageLink: e.housepic_fd ? `/message/snapshot/${e.housepic_fd}` : '/images/img-missing.png',
              detail: ` ${e.housetype} &nbsp， ${e.bedroomcount} 室 ${e.livingroomcount} 厅 ${e.bathroomcount} 卫`,
              btnText: "查看详情",
              btnLink: `/house/__g/${e.id}`,
              btnText2: "查看地图",
              btnLink2: '#',
              reviewCount: 428,
              fiveStarStyles: Array(rr).fill('fa-star').concat(Array(5 - rr).fill('fa-star-o')),
            }
          });

          render_Row(model);

          $('.progress').hide();
          isLoading = false;
        }, 100);
      });
    }

    var render_Row = function (model) {
      while (model.length > 0) {
        var str = "<div class='row'>";
        model.slice(0, 3).forEach(function (element) {
          str += cli_render_bind(element, 'gallery_tile_1x3_btn2_star5');
        });
        str += "</div>";
        $('#root').append(str);

        model.splice(0, 3);
      }

    }

    $(window).on('scroll', function () {
      if ($(window).scrollTop() == $(document).height() - $(window).height()) {
        loadMore()
      }
    }).scroll();

  </script>