  <% include partials/navbar.ejs %>

  <div class="container">
  
  <% include forms/user-signin %>

  </div>
  <script>  
    $(document).on('submit', 'form', (evt) => {
      evt.preventDefault();
      $.post($('form').attr('action'), $('form').serialize(), (data) => {
        if(data.errCode) {
          var message = "";
          if(data.errCode == "notMatch")
            message = "用户名密码不匹配";

          alert(message);
        } else {
          window.location = data.redirectTo;
        }
      });
    });

    $(document).on('click', '#btnForget', (evt) => {
      evt.preventDefault();
      if(! $('#email').val()) {
        alert("请先输入邮件地址，将为您重置密码");
        return;
      }

      $.post("/user/resetPassword", $('form').serialize(), (data) => {
        if(data.errCode) {
          alert(data.errCode);
        } else {
          alert("您的密码已重置，请查看邮件获得新密码");
          window.location = "/";
        }
      });
    });

    $(document).on('click', 'form .btn-submit', (evt) => {
      evt.preventDefault();
      $('form').submit();
    });
  </script>

