<!DOCTYPE html>
<html>
<head>
  <title></title>

  <% include sample1.html %>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--
        Stylesheets and Preprocessors
        ==============================
        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).
        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  <style>
    body {
      padding-top: 70px;
      padding-bottom: 30px;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <!-- Latest compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">-->

</head>

<body>
  <!--
        Client-side Templates
        ========================
        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.
        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

  <!--TEMPLATES-->
  <script type="text/javascript" src="/jst.js"></script>
  <!--TEMPLATES END-->

  <% include navbar.ejs %>
  
<!-- big picture -->
  <div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Theme example</h1>
      <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create
        something more unique by building on or modifying it.</p>
    </div>

    <form class="form-inline">
      <div class="form-group">
        <label>目的地</label>
        <select class="form-control">
          <option>usa</option>
          <option>china</option>
        </select>
        <select class="form-control">
          <option>NC</option>
          <option>TX</option>
        </select>
      </div>

      <div class="form-group">
        <label>日期</label>
        <input type="text" name="daterange" class="form-control" value="01/01/2015 - 01/31/2015" />

        <label>人数</label>
        <input type="number" class="form-control" value=1 min=1 max=10 />
      </div>

      <div class="form-group">
        <label>服务</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          私人向导
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          私家车 + 司机
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="">
          住房
        </label>
      </div>
      <button type="submit" class="btn btn-default">搜索</button>
    </form>

    <ol class="breadcrumb">
      <li class="active">房源</li>
      <li><a href="#">私家车</a></li>
      <li><a href="#">向导</a></li>
      <li><a href="#">评价</a></li>
    </ol>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalEx1">
      Launch demo modal
    </button>

    <div class="row">
      <div class="col-lg-4">
        <h2>Safari bug warning!</h2>
        <img src="/images/3.png" alt="Mountain View" style="width:304px;height:228px; margin-bottom:10px;">    
        <p>900元/天  &nbsp&nbsp &nbsp   3 室1 厅3 床 &nbsp &nbsp  美国 &nbsp Cary   </br> 可议价  3.5 star
        </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2 id="service-test">Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
          nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis
          euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <footer class="footer">
      <p>&copy; 2016 Company, Inc.</p>
    </footer>
  </div>

  <!--
      Client-side Javascript
      ========================
      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript
    -->


  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
  <script src="/js/dependencies/browser.min.js"></script>
  <script src="/js/dependencies/react.js"></script>
  <script src="/js/dependencies/react-dom.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/underscore.js"></script>
  <!--SCRIPTS END-->
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

  <script>
    $(document).ready(function(){
      $('input[name="daterange"]').daterangepicker();
    })

  </script>
</body>
</html>

<script type="text/babel" src="/js/NavMenus.jsx"></script>
<script type="text/babel">

  ReactDOM.render(<NavMenus fangdao="right" neirong={["加盟","注册","登录", "gallery"]} />, document.getElementById('nav-right'));  
  ReactDOM.render(<NavMenus fangdao="left" neirong={["working"]} />, document.getElementById('nav-left'));
</script>