<!DOCTYPE html>
<html>

<head>
    <title>Alloko </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" type="image/png" href="/images/logo.png" />

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/daterangepicker.css">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/fileinput.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/dependencies/browser.min.js"></script>
    <script src="/js/dependencies/react.js"></script>
    <script src="/js/dependencies/react-dom.js"></script>
    <script src="/js/dependencies/fileinput/piexif.min.js"></script>
    <script src="/js/dependencies/fileinput/purify.min.js"></script>
    <script src="/js/dependencies/fileinput/sortable.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/cliTmplRender.js"></script>
    <script src="/js/htmlCtrlExt.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/js/plugins/fileinput/fileinput.min.js"></script>
    <script src="/js/plugins/fileinput/locale/zh.js"></script>
    <script src="/js/siderbarToggleMenu.js"></script>
    <script src="/js/underscore.js"></script>
    <!--SCRIPTS END-->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

</head>

<body>
    <!-- nav bar -->
       <% include partials/console-navbar %>

        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- right panel -->
                <div class="col-xs-12 col-sm-9 col-sm-push-3 console-main-panel">
                    <button type="button" class="pull-left btn btn-default visible-xs" data-toggle="offcanvas" aria-expanded="false" aria-controls="navbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>

                    <%- body %>
                    
                    <% include partials/footer.ejs %>
                </div>

                <!-- left panel -->
                <div data-spy="affix" class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas">
                    <% var hostInfo = cUser.hosts; %>
                    <% if (typeof hostInfo === 'undefined' || hostInfo.length === 0) { %>
                        <% include partials/user-sidebar %>
                    <% } else { %>
                        <% include partials/host-sidebar %>
                    <% } %>
                </div>   <!--/.sidebar-offcanvas-->


            </div>
        </div>

      </div><!--/row-->


    </div><!--/.container-->
</body>
</html>

<script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $('.row-offcanvas').toggleClass('active')
        });
    });

</script>