<div class="star5Ext" id='overview' data-name='overview' data-rating='5'>
</div>

</br>
    <b>请您对该客户进行评价</b>
</br></br>


<form>
    <div class="form-group">
        <textarea class="form-control" rows="6" name='hostcommence' id='hostcommence'></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success btn-submit" value="提交"></input>
    </div>
</form>

<script>
    
    $(document).on('click', '.btn-submit', (evt) => {
        evt.preventDefault();
        var json = { ratings : [ $("[name=overview]:checked").val() ],
            orderId: "<%= orderId%>",
            comment: $("textarea").val()
        };

        $.post('/HostManager/addHostComment', json, (data) => {
            if (data.ok) {
                window.location = "/dashboard";
            } else {
                alert('error');
            }
        });
    });
</script>