<div class="star5Ext" id='ui2' data-name='overview' data-rating='5'>
</div>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>信息准确</th>
            <td>
                <div class="star5Ext stars-small" data-name='infomatch' data-rating='5'></div>
            </td>
            <th>交通便利</th>
            <td>
                <div class="star5Ext stars-small" data-name='goodlocation' data-rating='5'></div>
            </td>
        </tr>
        <tr>
            <th>沟通愉快</th>
            <td>
                <div class="star5Ext stars-small" data-name='communication' data-rating='5'></div>
            </td>
            <th>便利设施</th>
            <td>
                <div class="star5Ext stars-small" data-name='goodfacility' data-rating='5'></div>
            </td>
        </tr>
        <tr>
            <th>干净整洁</th>
            <td>
                <div class="star5Ext stars-small" data-name='clean' data-rating='5'></div>
            </td>
            <th>价格合理</th>
            <td>
                <div class="star5Ext stars-small" data-name='goodprice' data-rating='5'></div>
            </td>
        </tr>
    </tbody>
</table>

<form>
    <textarea></textarea>
    <input type="submit" class="btn btn-success btn-submit" value="save"></input>
</form>

<script>
    
    $(document).on('click', '.btn-submit', (evt) => {
        evt.preventDefault();
        var json = { ratings : [ $("[name=overview]:checked").val(), 
            $("[name=infomatch]:checked").val(), 
            $("[name=goodlocation]:checked").val(), 
            $("[name=communication]:checked").val(), 
            $("[name=goodfacility]:checked").val(), 
            $("[name=clean]:checked").val(), 
            $("[name=goodprice]:checked").val(), 
            ],
            orderId: "<%= orderId%>",
            comment: $("textarea").val()
        };

        $.post('/HostManager/addUserComment', json, (data) => {
            if (data.ok) {
                window.location = "/HostManager/viewMyOrder";
            } else {
                alert('error');
            }
        });
    });
</script>