<!doctype html>
<html>

<head>
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/default.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>

<body style="width:1098px; padding:10px;" class="container">

  <div class="container">

    <div class="blog-header">
      <h1 class="blog-title">波士顿大房子</h1>
      <p class="lead blog-description"> 美国，波士顿&nbsp&nbsp&nbsp&nbsp25个评价</p>
      <form action="">
        <input class="star star-5" id="star-5" type="radio" name="star" />
        <label class="star star-5" for="star-5"></label>
        <input class="star star-4" id="star-4" type="radio" name="star" />
        <label class="star star-4" for="star-4"></label>
        <input class="star star-3" id="star-3" type="radio" name="star" />
        <label class="star star-3" for="star-3"></label>
        <input class="star star-2" id="star-2" type="radio" name="star" />
        <label class="star star-2" for="star-2"></label>
        <input class="star star-1" id="star-1" type="radio" name="star" />
        <label class="star star-1" for="star-1"></label>
      </form>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>信息准确</th>
            <td>5星</td>
            <th>交通便利</th>
            <td>5星</td>
          </tr>
          <tr>
            <th>沟通愉快</th>
            <td>5星</td>
            <th>便利设施</th>
            <td>5星</td>
          </tr>
          <tr>
            <th>干净整洁</th>
            <td>5星</td>
            <th>价格合理</th>
            <td>5星</td>
          </tr>
        </tbody>
      </table>
      <hr>
      </br>
      <div class="blog-post">
        <h3 class="blog-post-title">张三 &nbsp 3星</h3>
        <p class="blog-post-meta">January 1, 2014 、</p>
        <p>干净卫生</p>
      </div>
      <hr>
      </br>
      <!-- /.blog-post -->
      <div class="blog-post">
        <h3 class="blog-post-title">李四 &nbsp 3星</h3>
        <p class="blog-post-meta">January 1, 2014 、</p>
        <p>干净卫生</p>
      </div>
      <hr>
      </br>

      <div class="blog-post">
        <h3 class="blog-post-title">王八 &nbsp 3星</h3>
        <p class="blog-post-meta">January 1, 2014 、</p>
        <p>干净卫生</p>
      </div>
      <hr>
      </br>
    </div>
    <!-- /.blog-main -->


    <div class="col-sm-3 col-sm-offset-1 ">
      <div class="affix">
        <div class="sidebar-module sidebar-module-inset">
          <h3>$50 &nbsp&nbsp预订 </h3>
          </br>
        </div>
        <div class="sidebar-module">

          <form>
            <div class="form-group">
              <label for="chenkin">入住日期</label>
              <input type="date" class="form-control" id="chenkin" name="chenkin" placeholder="">
            </div>
            <div class="form-group">
              <label for="checkout">退房日期</label>
              <input type="date" class="form-control" id="checkout" name="checkout" placeholder="">
            </div>
          </form>


          <h4><b>总价:</b> &nbsp$150</h4>
          <button class="btn btn-success" btn-smtype="submit">预订</button>
        </div>
      </div>
    </div>
    <!-- /.blog-sidebar -->
  </div>
</body>

</html>