body {
    padding-top: 70px;
    padding-bottom: 30px;
}

footer {
  padding: 30px 0;
}


.sidebar-offcanvas  a.active ,
.sidebar-offcanvas  a:hover ,
.sidebar-offcanvas  a:focus {
    color: #eee;
    background-color: #428bca;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  
  .sidebar-offcanvas {
    position: fixed;
    width: 60%; /* 6 columns */
    display: none;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    display: block;  
    right: 0;
    top: 10%;
    z-index: 1;
  }
}

.console-main-panel {    
    padding: 0 5%;
}
