<form class="form-horizontal">
    <div class="form-group">

        

        <div class="col-md-3">
            <div class="input-group ">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ></span></span>
                <input type="text" name="daterange" readonly="" class="form-control" value="" />
            </div>
        </div>
        <!-- /.col-md -->

        <div class="col-md-3">
            <div class="input-group ">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user" ></span></span>
                <input type="number" class="form-control" value=1 min=1 max=10 />
            </div>
        </div>
        <!-- /.col-md -->
    <!-- form-group -->

        <div class="col-md-3">
            <div class="input-group ">
                <span class="input-group-addon"><span class="glyphicon glyphicon-minus" ></span></span>
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" value=1 min=1 />
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <!-- /.col-md -->
        <div class="col-md-3">
            <div class="input-group ">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" value=10000 max=10000 />
                <span class="input-group-addon">.00</span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-plus" ></span></span>
            </div>
        </div>

       
        <!-- /.col-md -->
    </div>


    <!-- form-group -->
</form>