</br>
<p align='center' style="color:#149354"><b>欢迎加盟ALLKO</b></p>
</br>

<form class="form-horizontal" action="/User/join">

    <div class="form-group">
        <label for="lastname" class="control-label col-md-2">姓</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="lastname" id="lastname">
        </div>
        <label for="firstname" class="control-label col-md-2">名</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="firstname" id="firstname">
        </div>
    </div>
    <div class="form-group">
        <label for="sex" class="control-label col-md-2">性别</label>
        <div class="col-md-4">
            <select class="form-control" id="sex" name="sex">
              <option value="M">男</option>
              <option value="F">女</option>
            </select>
        </div>
        <label for="age" class="control-label col-md-2">年龄</label>
        <div class="col-md-4">
            <input type="number" class="form-control" name="age" id="age" value="40" min="18" max="100">
        </div>
    </div>


    <!--
    <div class="form-group">
        <label class="control-label col-md-2">服务类型</label>
        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="house4rent" name="servicetype">
          租房服务
          </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>    <input type="checkbox" value="guide" name="servicetype">
          向导服务
          </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="car_drive" name="servicetype">
          向导 + 私家车服务
          </label>
            </div>
        </div>
    </div>
    -->

    <div class="form-group">
        <label class="control-label col-md-2">服务城市</label>
        <div class="col-md-1">
            <div class="checkbox">
                <label>    <input type="checkbox" value="newyork" name="servicecity">
          纽约
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="boston" name="servicecity">
          波士顿
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="sanfrancisco" name="servicecity">
          旧金山
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="raleigh" name="servicecity">
          罗利
          </label>
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="lasvigas" name="servicecity">
         拉斯维加斯
          </label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">服务语言</label>
        <div class="col-md-1">
            <div class="checkbox">
                <label><input type="checkbox" value="chinese" name="servicelanguage">
          中文
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label><input type="checkbox" value="english" name="servicelanguage">
          英语
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="germany" name="servicelanguage">
         德语
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label> <input type="checkbox" value="japanese" name="servicelanguage">
          日语
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label> <input type="checkbox" value="french" name="servicelanguage">
          法语
          </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="spanish" name="servicelanguage">
          西班牙语
          </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">兴趣爱好</label>
        <div class="col-md-1">
            <div class="checkbox">
                <label>    <input type="checkbox" value="shopping" name="hobby">
          购物
          </label>
            </div>
        </div>

        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="travel" name="hobby">
          旅游
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="food" name="hobby">
          美食
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="clibming" name="hobby">
          登山
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="fishing" name="hobby">
          钓鱼
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="hunting" name="hobby">
          打猎
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="surfing" name="hobby">
          冲浪
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="golf" name="hobby">
          高尔夫
          </label>
            </div>
        </div>
    </div>

    
    <div class="form-group">
        <label for="avartar" class="control-label col-md-2">头像</label>
        <div class="col-md-10">
            <input type="file" name="avartar" id="avartar" count=1 multiple class="file-loading" init-fd="">
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-sm-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>