<form class="">
    <div class="form-group">
        <label for="lastname" class="control-label">入住人姓</label>
        <input type="text" class="form-control " id="lastname" name="lastname" placeholder="姓 ">
        <label for="housetype" class="control-label">入住人名</label>
        <input type="text" class="form-control " id="housename" name="housename" placeholder="名 ">
    </div>
    <div class="form-group">
        <label for="checkin" class="control-label col-md-2">入住日期</label>
        <div class="col-md-4">
            <input type="date" class="form-control" id="checkin" name="checkin" value="">
        </div>
        <label for="checkout" class="control-label col-md-2">退房日期</label>
        <div class="col-md-4">
            <input type="date" class="form-control" id="checkout" name="checkout" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="cell" class="control-label col-md-2">手机号码</label>
        <div class="col-md-4">
            <input type="number" class="form-control" id="cell" name="cell" value="">
        </div>
        <label for="email" class="control-label col-md-2">电子邮箱</label>
        <div class="col-md-4">
            <input type="email" class="form-control" id="email" name="email" value="">
        </div>
    </div>

    <div class="form-group">
        <label for="paytype" class="control-label col-md-2">支付方式</label>
        <div class="radio">
            <label>
                <input type="radio" class="form-control"  name="paytype" id="paytype" value="creditcard" >
                   信用卡
             </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="paytype" id="paytype" value="zhi">
                  支付宝
              </label>
        </div>
        <div class="radio disabled">
            <label>
                 <input type="radio" name="paytype" id="paytype" value="wechat" disabled>
                     微信钱包
               </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-submit">确定</button>
        </div>
    </div>
</form>