<form class="form-horizontal" id="search">
      <div class="form-group">

        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">国家</button>
            </div>
            <!-- /btn-group -->
            <select type="text" value="" name="country" class="form-control" dpId='dp-0'>
              <option value="" disabled selected>--Select--</option>
            </select>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-md -->

        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">城市</button>
            </div>
            <!-- /btn-group -->
            <select type="text" value="" name="city" class="form-control" dpId='dp-1'>
              <option value="" disabled selected>--Select--</option>
            </select>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-md -->

        <div class="checkbox col-md-2">
          <label style='color:#22bc1a'>
            <input type="checkbox" value="" checked>
           <b>无车向导</b>
          </label>
        </div>
        <!-- div.checkbox -->

        <div class="checkbox col-md-2">
          <label style='color:#d68d20' >
            <input type="checkbox" value="" checked>
            <b>带车向导</b>
          </label>
        </div>
        <!-- div.checkbox -->

        <div class="checkbox col-md-1">
          <label style='color:#0aa7db'>
            <input type="checkbox" value="" checked>
           <b> 民宿</b>
          </label>
        </div>
        <!-- div.checkbox -->


        <div class="col-md-1">
          <button type="submit" class="btn btn-success form-control">
            <span class="glyphicon glyphicon-search" ></span>
          </button>
        </div>

      </div>
    </form>