<form class="form-horizontal" id="search">
      <div class="form-group">

        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">国家 <span class="caret"></span></button>
              <ul class="dropdown-menu" id="country-menu"> </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" placeholder='目的地国家' value="" name="country" class="form-control" readonly="" aria-label="...">
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-md -->

        <div class="col-md-3">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">城市 <span class="caret"></span></button>
              <ul class="dropdown-menu" id="city-menu"></ul>
            </div>
            <!-- /btn-group -->
            <input type="text" placeholder='目的地城市' value="" name="city" class="form-control" readonly="" aria-label="...">
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-md -->

        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="" checked>
           无车向导
          </label>
        </div>
        <!-- div.checkbox -->

        <div class="checkbox col-md-2">
          <label>
            <input type="checkbox" value="" checked>
            带车向导
          </label>
        </div>
        <!-- div.checkbox -->

        <div class="checkbox col-md-1">
          <label>
            <input type="checkbox" value="" checked>
            住房
          </label>
        </div>
        <!-- div.checkbox -->


        <div class="col-md-1">
          <button type="submit" class="btn btn-success form-control">
            <span class="glyphicon glyphicon-search" ></span>
          </button>
        </div>

      </div>
      <!-- form-group -->
      <!-- form-group -->
    </form>