
<form action='/user/signIn' method='post'>
    <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" name="email"  id="email" placeholder="">
    </div>
    <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="">
    </div>
    <button type="submit" class="btn btn-success btn-submit">登录</button>
    <button type="button" id="btnForget" class="btn btn-info">忘记密码</button>
</form>

<br><br>
如果您忘记邮箱，请与客服部门联系。联系邮箱info@alloko.com。