</br>
<p align='center'  style="color:#149354"><b>欢迎加盟ALLKO</b></p>
</br>

<form class="form-horizontal">
    <div class="form-group">
        <label for="username" class="control-label col-md-2">用户名</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <label for="email" class="control-label col-md-2">邮箱</label>
        <div class="col-md-4">
            <input type="email" class="form-control" name="email" id="email">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="control-label col-md-2">密码</label>
        <div class="col-md-4">
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <label for="passwordconfirm" class="control-label col-md-2">确认密码</label>
        <div class="col-md-4">
            <input type="password" class="form-control" name="passwordconfirm" id="passwordconfirm">
        </div>
    </div>

    <div class="form-group">
        <label for="lastname" class="control-label col-md-2">姓</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="lastname" id="lastname">
        </div>
        <label for="firstname" class="control-label col-md-2">名</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="firstname" id="firstname">
        </div>
    </div>

    <div class="form-group">
        <label for="cell" class="control-label col-md-2">手机号码</label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="cell" id="cell">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">服务类型</label>
        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="caranddrive">
          租房服务
          </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox">
                <label>    <input type="checkbox" value="" name="guide">
          向导服务
          </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="caranddrive">
          向导 + 私家车服务
          </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">服务城市</label>
        <div class="col-md-1">
            <div class="checkbox">
                <label>    <input type="checkbox" value="" name="newyork">
          纽约
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="boston">
          波士顿
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="sanfran">
          旧金山
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="raleigh">
          罗利
          </label>
            </div>
        </div>

        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="lasvigas">
         拉斯维加斯
          </label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">服务语言</label>
        <div class="col-md-1">
            <div class="checkbox">
                <label>    <input type="checkbox" value="" name="chinese">
          中文
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="english">
          英语
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="germany">
         德语
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="japanese">
          日语
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="france">
          法语
          </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="spanish">
          西班牙语
          </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">兴趣爱好</label>
        <div class="col-md-1">
            <div class="checkbox">
                <label>    <input type="checkbox" value="" name="shopping">
          购物
          </label>
            </div>
        </div>

        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="travel">
          旅游
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="food">
          美食
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="clibming">
          登山
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="fishing">
          钓鱼
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="fishing">
          打猎
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="surfing">
          冲浪
          </label>
            </div>
        </div>
        <div class="col-md-1">
            <div class="checkbox ">
                <label>    <input type="checkbox" value="" name="golf">
          高尔夫
          </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="avartar" class="control-label col-md-2">头像</label>
        <div class="col-md-10">
            <input type="file" name="avartar" id="avartar" multiple class="file-loading">
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </div>
</form>